html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif!important;
}
nav {
    background-color: white;   
    box-shadow: 0 0 10px 1px #d2cbcb;        
}
nav ul {
    margin-left: 50px;
}
.top-offset {
    margin-top: 60px;
}
.top-offset-2 {
    margin-top: 100px!important;
}
.navbar-brand {
    margin-left: 20px;
}
.navbar-brand img {
    width: 75px;
    height: 35px;
}
nav li {
    margin: 0 10px;
    padding: 0 5px;
}
nav li:hover {
    border-bottom:2px solid #12028c;
    transition: border .2s ease;
}
nav li a {
    color: black!important;
}
.nav-social-section {
    margin-right: 20px;
    margin-left: auto;
}
.social-icons {
    margin: 0 8px;
    padding: 0 3px;
    display: inline-block;
    font-size: 22px;
}
.social-icons a {
    color: black;
}
.search-icon {
    font-size: 22px;
    padding: 5px 0;
    margin-left: 25px;
}
.mobile {
    display: none;
    transform: translateY(3px);
    /* margin-left: 15px; */
}
.lg {
    display: inline-block;
}
.section-header {
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}
.follow-up-text {
    width: 70%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}
.image-array {
    margin-top: 50px;
}
.card img {
    height: 180px;
}
/* .container {
    margin-top: 40px;
} */
.card {
    border: none!important;
}
.card-body {
    padding: 20px 0!important;
}
.card-title {
    font-weight: bold;
}
.custom-btn {
    text-align: center;
    margin: 50px 0;
}
.custom-btn .btn {
    padding: 10px 40px;
    font-size: 20px;
    color: white!important;
    border-radius: 5px;
    box-shadow: 0 6px 9px -5px black;
}
.custom-btn .btn:hover {
    transform: scale(1.05);
    transition: transform .7s ease;
}
.custom-blue {
    background-color: #12028c!important;
}
footer {
    min-height: 300px;
    background-color: rgb(40, 48, 56);
    color: white;
    padding: 30px 0;
}
footer .col-lg-3 {
    text-align: center;
    padding-top: 30px;
}
.footer-links .custom-link div {
    padding: 5px 0;
}
.footer-social {
    color: white;
}
.footer-social .first-line {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    font-size: 22px;
    padding: 0 25px;
}
.footer-social .second-line {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 22px;
    padding: 0 50px;
}
.first-line .fab:hover, .second-line .fab:hover, .social-icons:hover {
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
}
.brand-name {
    font-size: 35px;
}
.about-brand {
    font-size: 15px;
}
.custom-link {
    color: #b4abf5;
}
.custom-link:hover {
    text-decoration: none;
}
.image-array a {
    color: inherit;
}
.image-array a:hover {
    color: inherit;
}
.image-array .card-body {
    padding-bottom: 10px!important;
}
.col-lg-3 > a:hover {
    text-decoration: none;
}
.about-location {
    width: 60%;
    margin: 80px auto 0;
}
.author-image-case {
    display: inline-block;
}
.author-image-case img {
    width: 47px;
    height: 47px;
    border-radius: 100%;
    vertical-align: bottom;
}
.author-info {
    display: inline-block;
    margin-left: 10px;
}
.block {
    display: block;
}
.map-banner {
    width: 100%;
    height: 400px;
    margin-top: 30px;
}
.location-text {
    margin-top: 20px;
    font-size: 18px;
}
.location-text-header {
    margin-bottom: 25px;
    font-weight: bold;
    padding: 0 10px 0;
    font-size: 25px;
    text-align: center;
}
.location-text-header::after {
    content: "";
    margin: 0 auto;
    width: 100px;
    background-color: #12028c;
    height: 3px;
    display: block;
}
.btn:focus {
    box-shadow: none!important;
}
.location-in-detail .card img {
    box-shadow: 0 25px 20px -20px rgb(0 0 0 / 30%), 0 0 15px rgb(0 0 0 / 6%);;
}
.location-in-detail .container {
    margin-top: 25px;
}
.carousel-banner {
    width: 100%;
    min-height: 500px;
    box-shadow: 0 0 15px 1px #333131; 
}
.carousel-item {
    min-height: 600px;
    background-size: cover;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    min-height: inherit;
}
.overlay-content {
    padding: 130px 130px 0;
    color: white;
    text-align: center;
}
.overlay-content span {
    font-size: 70px;
}
.font-35 {
    font-size: 35px;
}
.carousel-followup-text {
    font-size: 40px;
}
.overlay-btn {
    margin-top: 15px;
    color: white;
    padding: 10px 50px;
    font-size: 20px;
}
.overlay-btn:hover {
    color: white;
    transform: translateY(-5px);
    transition: transform .3s ease-in-out;
}
.plain-description-cards {
    margin: 50px 0;
}
.plain-cards {
    box-shadow: 0 0 15px 1px hsl(0, 2%, 89%)!important;   
    text-align: center;
    padding: 20px;
}
.card-icons-case {
    width: 70px;
    height: 70px;
    margin: 5px auto 10px;
    padding: 15px;
    border-radius: 100%;
    background-color: rgba(18, 2, 140, .2);
    /* display: block; */
}
.flaticon {
    width: 40px;
    height: 40px!important;
    /* margin: 0 auto; */
}
.plain-card-btn {
    width: 100%;
    margin-top: 10px;
    color: white!important;
    padding: 10px 50px!important;
    font-size: 20px!important;
    /* box-shadow: 0 5px 8px -6px black; */
    box-shadow: 0 6px 9px -5px black;
    border-radius: 5px!important;
}
.plain-card-btn:hover {
    transform: scale(1.04);
    transition: transform .7s ease;
}
.grey {
    color: #6c757d;
}
.main-sign-in, .main-sign-up {
    margin: 40px auto;
    width: 70%;
}
.main-sign-in .icon-case, .main-sign-up .icon-case {
    width: 110px;
    height: 45px;
    margin: 0 auto;
}
.main-sign-in .icon-case a, .main-sign-up .icon-case a{
    display: block;
}
.main-sign-in .icon-case a img, .main-sign-up .icon-case a img {
    width: 110px;
    height: 45px;
}
.main-sign-in .title, .main-sign-up .title {
    font-size: 23px;
    text-align: center;
    margin-top: 12px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.main-sign-in .row, .main-sign-up .row {
    margin-top: 15px;
}
.main-sign-in .card {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}
.main-sign-up .card {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}
.main-sign-in .text, .main-sign-up .text {
    margin-top: 20px;
    font-size: 20px;
}
.main-sign-in .text a, .main-sign-in .extra-text a, .main-sign-up .extra-text a {
    color: #12028c;
    text-decoration: none;
    font-weight: bold;
}
.main-sign-in .text a:hover, .main-sign-in .extra-text a:hover, .main-sign-up .extra-text a:hover {
    text-decoration: underline;
}
.main-sign-in .card-body, .main-sign-up .card-body {
    padding: 10px 0!important;
}
.main-sign-in .extra-text, .main-sign-up .extra-text {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
}
.main-sign-up .icons-case {
    text-align: center;
    min-width: 200px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.icons-background {
    min-width: 200px;
    /* height: 40px; */
    border-radius: 5px;
    padding: 8px 20px;
    display: inline-block;
}
.fb {
    background-color: #368cd3;
}
.google {
    background-color: #ec4c4c;
}
.main-sign-up .social-icons a {
    color: white;
}
.main-sign-up .social-icons:hover {
    transform: scale(1.04)!important;
    transition: transform .7s ease;
}
.main-sign-up .social-icons a {
    color: white;
    text-decoration: none;
    box-shadow: 0 5px 8px -6px black;
}
.font-25 {
    font-size: 25px;
}
.about-banner, .policy-banner {
    margin-top: 60px;
    min-height: 120px;
    font-size: 50px;
    color: white;
    background-image: url(../Images/pix-3a.jpg);
}
.about-banner-overlay, .policy-banner-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    min-height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content, .policy-content {
    font-size: 18px;
    width: 60%;
    margin: 20px 0px 50px 150px;
}
.about-header, .policy-header {
    color: #6c757d;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: left;
    margin: 20px 0;
    border-left: 3px solid #12028c;
}
.aside {
    position: fixed;
    top: 100px;
    width: 300px;
    right: 50px;
    padding: 20px 10px;
    box-shadow: 0 0 15px 1px hsl(0, 2%, 89%)!important;  
    background-color: white; 
}
.aside-header {
    color: #6c757d;
    /* margin-bottom: 10px; */
    padding: 0 0 10px 20px;
    font-weight: bold;
}
.aside-header::after {
    content: "";
    background-color: #12028c;
    height: 2px;
    width: 50px;
    display: block;
}
.aside ul {
    margin-bottom: 0;
}
.aside li {
    padding: 3px 0;
}
.aside a {
    color: #12028c;
}














