@media screen and (max-width:1300px) {
    .about-content, .policy-content {
        margin: 20px auto 50px 80px;
    }
}
@media screen and (max-width:1130px) {    
    .overlay-content span {
        font-size: 60px;
    }  
    .section-header, .about-header, .policy-header {
        font-size: 30px;
    }
    .about-location {
        width: 70%;
    }    
    .about-content, .policy-content {
        width: 70%;
        margin: 20px auto 50px;
    }
    .aside {
        display: none;
    }
}
@media screen and (max-width:991px) {
    nav ul li {
        padding-left: 0;
        margin-left: 0;
    }
    nav ul {
        margin: 15px auto 0 20px!important;
    }
    .mobile {
        display: inline-block;
    }
    .lg {
        display: none;
    }
    .nav-social-section {
        margin-top: 15px;
    }
    .navbar-toggler {
        border: none;
    }
    .overlay-content span {
        font-size: 55px;
    }  
    .carousel-followup-text {
        font-size: 30px;
    }
    .section-header, .about-header, .policy-header {
        font-size: 28px;
    }
    .card img {
        height: 320px;
    }
    .col-lg-3, .col-lg-4 {
        margin-bottom: 20px;
    }
    footer {
        text-align: center;
    }
    .navbar-brand {
        margin-left: 12px;
    }
    .about-location, .about-content, .policy-content {
        width: 75%;
    }
    .map-banner {
        height: 350px;
    }
    .location-in-detail .container {
        margin-top: 0;
    }    
}
@media screen and (max-width:870px) {    
    .main-sign-up .plain-cards {
        width: 100%!important;
        box-sizing: border-box;
    }
    .main-sign-up .col-lg {
        box-sizing: border-box;
    }
    .main-sign-up .row {
        margin: 0;
    }
    .main-sign-up .title {
        margin-bottom: 15px;
    }    
    .about-banner span, .policy-banner span {
        font-size: 40px;
    }
    .about-banner, .policy-banner {
        min-height: 90px;
    }
}
@media screen and (max-width:760px) {
    .about-location, .about-content, .policy-content {
        width: 80%;
    }
    .carousel-banner {
        min-height: 400px;
    }
    .carousel-item {
        min-height: 400px;
    }
    .overlay-content span {
        font-size: 50px;
    }  
    .carousel-followup-text {
        font-size: 30px;
    }
    .section-header, .about-header, .policy-header {
        font-size: 28px;
    }
    .follow-up-text {
        font-size: 18px;
    }
    .overlay-content {
        padding: 80px 80px 0;
    }
    .main-sign-up {
        width: 80%;
    }
}
@media screen and (max-width:620px) {
    .main-sign-up {
        width: 80%;
    }
    .map-banner {
        height: 300px;
    }
    .about-location .display-4 {
        font-size: 40px;
    }
    .main-sign-up .icons-case {
        display: block;
    }
    .main-sign-up .social-icons {
        display: block;
        margin-bottom: 20px;
    }
    .carousel-banner {
        min-height: 400px;
    }
    .carousel-item {
        min-height: 400px;
    }  
    .overlay-content span {
        font-size: 40px;
    }
    .overlay-content {
        padding: 80px 40px 0;
    }  
    .carousel-followup-text {
        font-size: 25px;
    }
    .section-header {
        padding: 0 15px;
    }
    .follow-up-text {
        width: 90%;
    }
    .main-sign-in .plain-cards {
        width: 100%!important;
        box-sizing: border-box;
    }
    .main-sign-in .col-lg {
        box-sizing: border-box;
    }
    .main-sign-in .row {
        margin: 0;
    }
    .main-sign-in .title {
        margin-bottom: 15px;
    }
    .about-location {
        width: 100%;
        padding: 0 10px;
    }    
    .about-content, .policy-content {
        width: 100%;
        padding: 0 20px;
    }
    .about-banner, .policy-banner {
        min-height: 70px;
    }
    .about-banner span, .policy-banner span {
        font-size: 30px;
    }
}
@media screen and (max-width:535px) {
    .navbar {
        padding: .2rem .5rem;
    }
    .about-banner, .policy-banner {
        margin-top: 48px;
    }
    .top-offset {
        margin-top: 48px;
    }
    .mobile {
        margin-left: 0;
    }
    nav ul {
        margin: 15px auto 0 10px!important;
    }
    .overlay-content span {
        font-size: 30px;
    }  
    .carousel-followup-text {
        font-size: 20px;
    }
    .follow-up-text {
        font-size: 16px;
    }
    .overlay-content {
        padding: 70px 40px 0 ;
    }
    .carousel-banner {
        min-height: 350px;
    }
    .carousel-item {
        min-height: 350px;
    }
    .navbar-toggler {
        padding: 0;
    }
    .navbar-brand {
        margin-left: 0;
    }
    .card img {
        height: 250px;
    }
    .container {
        padding: 0;
    }
    .main-sign-in {
        width: 80%;
    }    
    .main-sign-up {
        width: 90%;   
    }    
    .about-content, .policy-content {
        padding: 0 10px;
    }
    .col-lg-3, .col-lg-4 {
        padding: 0 7px;
    }
}
@media screen and (max-width:460px) {
    .main-sign-in {
        width: 90%;
    }
    .map-banner {
        height: 250px;
    }
    .about-location .display-4 {
        font-size: 30px;
    }
    .location-text-header {
        font-size: 20px;
    }
}
@media screen and (max-width:420px) {
    .main-sign-in {
        width: 100%;
    }    
    .main-sign-up {
        width: 100%;   
    }
}
@media screen and (max-width:320px) {
    .overlay-btn {
        padding: 10px 20px;
        width:90%;
    }
    .overlay-content {
        padding: 50px 30px 0;
    }
}